<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- Banner Profile -->
    <% if (user) { %>
      <!-- Banner User Email -->
      <div class="navbar-text">
        Logged in as: <%= user.email %>
      </div>
      <!-- Banner Logout Button -->
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <!-- Login Form -->
      <div class="navbar-text">
        <form action="/login" method="POST" class="form-inline">
          <button type="submit" class="btn btn-primary mr-2" name="login">Login</button>
        </form>
      </div>
      <!-- Registration Form -->
      <form action="/register" method="POST" class="form-inline">
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
    <% } %>
  </nav>
</header>